<h2>Examples of My Work</h2>

<mat-card appearance="outlined">
    <mat-card-content>
        <app-portfolio-image
            filename="Portfolio-1.png"
            title="Manager Dashboard Page"
            description="Magnit VMS's Dashboard for managers to approve timesheets, expenses and manage requisitions in.  Panels can be dragged to be reordered">
        </app-portfolio-image>

        <app-portfolio-image
            filename="Portfolio-2.png"
            title="Create Job Requisition"
            description="Wizard that allows managers to creates job requisitions in Magnit VMS.">
        </app-portfolio-image>

        <app-portfolio-image
            filename="Portfolio-3.png"
            title="Time Sheet Entry Page"
            description="Page for workers to add time sheet entries in Magnit VMS.  I created mockups for this page and also implemented the front-end UI shown above.">
        </app-portfolio-image>

        <app-portfolio-image
            filename="Portfolio-4.png"
            title="Add Expense Page"
            description="Page for workers to add job expenses in Magnit VMS.  I created mockups for this page and also implemented the front-end UI shown above.">
        </app-portfolio-image>
    </mat-card-content>
</mat-card>