<h2>Examples of My Work</h2>

<ul class="cards">
	<li>
		<app-portfolio-image
            filename="Portfolio-1.png"
            title="Manager Dashboard"
            description="Magnit VMS's Dashboard for managers to approve timesheets, expenses and manage job requisitions.  Panels can be dragged to be reordered">
        </app-portfolio-image>
	</li>
	<li>
        <app-portfolio-image
            filename="Portfolio-2.png"
            title="Create Job Requisition"
            description="Wizard that allows managers to creates job requisitions in Magnit VMS.  Work can be saved as a draft and completed later.">
        </app-portfolio-image>
	</li>
	<li>
		<app-portfolio-image
            filename="Portfolio-3.png"
            title="Worker Time Sheet Entry Page"
            description="Page for workers to add time sheet entries in Magnit VMS.  I created mockups for this page and also implemented the front-end UI shown above.  Sidenav allows quick navigation to specific days.">
        </app-portfolio-image>
	</li>
	<li>
		<app-portfolio-image
            filename="Portfolio-4.png"
            title="Worker Add Expense Page"
            description="Page for workers to add job expenses in Magnit VMS.  I created mockups for this page and also implemented the front-end UI shown above.">
        </app-portfolio-image>
	</li>
	<li>
		<app-portfolio-image
            filename="Portfolio-5.png"
            title="MSP Dashboard"
            description="Magnit VMS's Dashboard for MSPs to manage application data for clients">
        </app-portfolio-image>
	</li>
	<li>
		<app-portfolio-image
            filename="Portfolio-6.png"
            title="Currency Calculator"
            description="Mobile web app that converts sales prices between four currencies and allows calculations to be performed">
        </app-portfolio-image>
	</li>
</ul>