<img id="avatar" src="/images/drew.png">
<aside id="quote-container">
    <div>
        <span class="quote-symbol">&ldquo;</span>
        <span id="random-quote">{{randomQuote.quote}}</span>
        <span class="quote-symbol">&rdquo;</span> 
    </div>
    <div id="author">- {{randomQuote.author}}</div>
</aside>

<section id="home-body">
    <h1>About Me</h1>

    <mat-card id="about-me-card" appearance="outlined">
        <mat-card-content>
            I'm a design techonologist with over 20 years of experience working on UI/UX in web applications.  I bridge the gap between design and engineering, improving user experience by using the laws of UX, design guidelines and building proof of concept prototypes. I have a passion for cutting edge technologies and am endlessly curious.  I also have background in full-stack web development.
           
            <br><br>

            In addition to my computer experience, I have a background in photography, writing and hiking.
        </mat-card-content>
    </mat-card>

    <br><br><br>

    <h1>Skills + Responsabilities</h1>
    <mat-card id='skills-responsabilities-card' appearance="outlined">
        <mat-card-content>
            <section style="display: flex; flex-direction: row; gap: 100px;">
                <span style="width:50%">
                    <h3>Analytical Skills</h3>
                    <ul class="analytical">
                        <li>Angular 19</li>
                        <li>TypeScript/JavaScript</li>
                        <li>Jasmine Unit Tests</li>
                        <li>Java</li>
                        <li>PHP</li>
                    </ul>
                </span>
                <span style="width:50%">
                    <h3>Creative Skills</h3>
                    <ul class="creative">
                        <li>SCSS/CSS</li>
                        <li>Material Design</li>
                        <li>Figma</li>
                        <li>Adobe Suite</li>
                        <li>Bootstrap</li>
                    </ul>
                </span>
            </section>

            <br>

            <section style="display: flex; flex-direction: row; gap: 100px;">
                <span style="width:50%">
                    <h3>Analytical Responsibilities</h3>
                    <ul class="analytical">
                        <li>Optimizing front-end code to improve performance</li>
                        <li>Build applications that document how to implement front-end web components, driving re-use and UI consistancy</li>
                        <li>Upgrade and fix front-end code to be functionally compatible with the latest technologies</li>
                        <li>Writing POC code that proves design ideas are technically feasable</li>
                    </ul>
                </span>
                <span style="width:50%">
                    <h3>Creative Responsibilities</h3>
                    <ul class="creative">
                        <li>Create mockups to guide front-end engineers during implementation</li>
                        <li>Identify and solve high value UI and UX issues using the laws of UX and design guidelines</li>
                        <li>Attend design reviews to hear stakeholder feedback for new designs</li>
                    </ul>
                </span>
            </section>

            <br>
        </mat-card-content>
    </mat-card>
</section>