header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    h3[mat-dialog-title] {
        font-weight: 500;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

mat-form-field {
    width: 100%;
}

::ng-deep .mdc-dialog {
    width: 100vw;
}