/** 
Scroll animations (https://scroll-driven-animations.style/ https://www.youtube.com/watch?v=rpCQEQAlMIE):

 Shrinking Header Liberated from https://scroll-driven-animations.style/demos/shrinking-header-shadow/css/
**/

::ng-deep body {
    height: unset;
    //background: rgb(237 237 237);

    &.dialog-open {
        overflow-y: hidden;
    }
}

@keyframes adjust-header {
    to { 
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.26);
        line-height: 62px;
    }
}

@keyframes move-and-fade-background {
	to {
		translate: 0% -5%;
		scale: 1.0;
		opacity: 0;
	}
}

@keyframes logo-adjust {
    to {
        font-size: 2rem;
        //scale: 0.3;
    }
}


//Styles for Scroll Event
@supports (animation-timeline: scroll()) {
    mat-toolbar {
        animation: adjust-header linear both;
        position: fixed;
        z-index: 1;
        top:0;
        width: 100%;
        line-height: 100px;
        padding: 5px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        //background: rgb(255, 255, 255);
        /*background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);*/

        .header-bg  {
            opacity: 0.2;
            animation: move-and-fade-background linear both;
            position: absolute;
            inset: 0;
            top: auto;
            height: 13rem;
            //background: linear-gradient(to bottom, #fff6 0%, #fff 80%), url(https://scroll-driven-animations.style/demos/shrinking-header-shadow/shared/vecteezy_cityscape-modern-flat-line-landscape-vector-city-landscape_6619652-2.jpg) repeat-x 50% 100% / 650px auto;
            background: url('https://cdn.vectorstock.com/i/1000v/75/77/electronic-circuit-board-vector-51987577.jpg');
            z-index: -1;
            //opacity:0.9;
        }

        .info {
            animation: adjust-info linear both;
        }
        #logo {
            animation: logo-adjust linear both;
            backdrop-filter: blur(2px); 
            font-size: clamp(18px, 7vw, 50px);
            text-decoration: none;
            -webkit-font-smoothing: auto;
            font-weight: bold;
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3333333333) 5%, #000 70%);
            mask-size: 100% 2px;
        }


    }
    mat-toolbar, #logo, .header-bg {
        animation-timeline: scroll() !important;
        animation-range: 0 150px !important;
    }
}

#header-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

nav#top-nav {
    display: flex;
    justify-content: end;
    gap: 1rem;

    a {
        //color: black;
        font-size: 1.85rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding:0 10px 0 10px;
        -webkit-font-smoothing: initial;
        text-decoration: none;
        -webkit-font-smoothing: subpixel-antialiased;
        cursor: pointer;
        //cursor: url('/images/crosshair.svg'), default;

        &:hover {
            text-decoration: underline;
            background: rgb(0,0,0,0.05);
        }

        &.active {
            //color: #cd1635;
            font-weight: 600;
            mask-image: none;
            //text-decoration: underline;
        }
    }
}

::ng-deep .mat-mdc-menu-panel.mobile-nav-menu {
    a.active .mat-mdc-menu-item-text {
        //color: #cd1635;
        font-weight: 500;
        mask-image: none;
    }
}

main {
    max-width: 1400px;
    margin: 110px auto 0 auto;
    min-height: calc(100vh - 132px);
    padding: 60px 30px 30px 30px;
}

footer#social-media-links {
    display: flex;
    justify-content: center;
    //gap: 10px; 
    margin: 4rem 0 1rem 0;

    svg, img {
        //height: auto;
        width: auto;
    }

    a {
        transition: 200ms opacity;
        opacity: 1;

        &:not(:hover) {
            opacity: 0.6;
        }
    }
}