::ng-deep .portfolio-image-dialog.cdk-overlay-pane {
    //width: calc(100vw - 60px);
    max-height: calc(100vh - 120px);
    max-width: calc(100vw - 60px);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    h3[mat-dialog-title] {
        font-weight: 500;
    }
}

section.image-container {
    height: calc(100vh - 300px);
    overflow-y: auto;
    text-align: center;
    padding: 30px;

    img {
        width: 100%;
    }
}

caption {
    max-height: 140px;
    border-top:1px solid lightgray;
    background: #fafafa;
    padding: 20px;
}